#header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:0 100px;
}
#threelinks{
    display:flex;
    align-content:flex-end;
    width:500px;
    justify-content: space-between;
}
#container{
display:inline-block;
    width:1000px;
    margin:auto 15%;
}
section{
font-size:18px;
color:#E5E7EB;
width:1200px;
}
#placeholder{
    width:50%;
    justify-content:center;
    align-items:center;
    display:flex;
    background-color:gray;
    height:250px;
}
section #header span{
    align-items:flex-end;
}
#header{
font-size:24px;
color:#F9FAF8;
background-color: #1F2937;
}
#content{
    display:flex;
    flex-direction: row;
    font-size:24px;
    align-items:center;
color:#F9FAF8;
background-color: #1F2937;
padding: 0 100px;
}
#second{
font-size:48px;
font-weight:900;
color:#F9FAF8;
display:flex;
flex-direction: column;
flex-wrap:wrap;
width:50%;
justify-content: center;
align-items:center;
padding:0 2%;
}
#container  .text{

    font-size:18px;
font-weight:500;
color:#E5E7EB;
}
#third{
    margin-left:auto;
    margin-right:auto;
    width:65%;
    border-spacing:20px;
}
.img1,.img2,.img3,.img4{
    font-size:24px;
    width:72px;
    height:128px;
    border:2px solid #3882F6;
    border-radius: 25px;
    border-width: thick;
    text-align:center;
    color:antiquewhite;
    padding-right:5px;
}
#third th{
    font-size:24px;    
}
#fourth{
    font-weight:lighter;
    font-size:36px;
    background-color: #E5E7EB;
    font-style: italic;
    padding-top:2em;
    width:100%;
    text-align:center;
}
#fourth div{
    font-weight:00;
    width:75%;
    text-align:initial;
    margin-right:auto;
    margin-left:auto;
}
#fourth .quote{
    width:90%;
    font-size:24px;
    font-style:normal;
    font-weight:800;
    padding-right: 5em;
    text-align:right;
    padding-bottom:65px;
}
a{
    text-decoration: none;
}
#fifth{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    height:128px;
    border-radius:15px;
    width:80%;
    text-align:left;
    padding-left:60px;
    padding-top:30px;
    background-color:#3882F6;
    color:#E5E7EB;
    font-weight:700;
    font-size:24px;
}
#fifth.call{
    display:flex;
    flex-direction:row;
}
#fifth p.call{
    font-weight:500;
    font-size:16px;
}
.signup{
    background-color:#3882F6;
    border: 1.5px solid white;
    border-radius:5px;
    width: 160px;
    font-size:18px;
    text-align:center;
    justify-content: center;
    align-items: center;
    }
#footer{
    background-color:#1F2937;
    color:#F9FAF8;
    text-align:center;
    padding:15px;
}
#cta-container{
    display:flex;
    justify-content: center;
    margin-right:auto;
    margin-left:auto;
    padding-bottom:60px;
    padding-top:60px;
}
.argh{
    display:flex;
    flex-direction: column;
}